#gravatar
  = image_tag "https://s.gravatar.com/avatar/64fe483361c5f1b54973f27b8a0b4df5?s=160", alt: "Avatar"

%p
  Hello, I'm Etienne Garnier (aka kurt) and I'm a devop freelancer.
  %br
  I currently live in Tours (France).
%p 
  %br
  You can join me at 
  = mail_to "garnier.etienne@gmail.com"
  = "."
  %br
  You can find my Github 
  = link_to "here", "https://github.com/garnieretienne"
  = "."
